@import 'tailwindcss';

@theme {
  --color-brand-blue: #3b82f6;
  --color-brand-emerald: #10b981;

  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans;
  }
}

@theme {
  --color-brand-blue: #3b82f6;
  --color-brand-emerald: #10b981;

  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans;
  }
}
